/* Elementos */
input, textarea {
    width: 100%;
}
textarea  {
    padding: 8px 12px;
    margin-top: 10px;
    border: 1px solid #8c6849;
    border-radius: 4px;
    background-color: #5a3d2b;
    color: #fff5e6;
    font-weight: bold;
    font-family: inherit;
    cursor: pointer;
}
footer {
    margin-top: 30px;
}

/* Pseudoelementos/Pseudoclases */
textarea:hover {
    background-color: #6f4f35;
}

/* Clases */
.formulario-contacto {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}
.label-contacto {
    font-weight: bold;
}
.error {
    color: red;
}

/* Media Queries */
@media (max-width: 600px) {
    .juego {
        min-width: auto;
        padding-left: 0px;
        padding-right: 0px;
        margin-left: 0px;
        margin-right: 0px;
        border: 0;
    }
}