.formulario-contacto {
    max-width: 500px;
    min-width: 450px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.label-contacto {
    font-weight: bold;
}

input, textarea {
    width: 100%;
}

textarea  {
    padding: 8px 12px;
    margin-top: 10px;
    background-color: #5a3d2b;
    color: #fff5e6;
    border: 1px solid #8c6849;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    font-family: inherit;
}

textarea:hover {
    background-color: #6f4f35;
}

.error {
    color: red;
}